name: Build and deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%d/%m/%Y')"  
    - uses: cschleiden/replace-tokens@v1
      with:
        files: '["src/index.html"]'
      env:
        LASTUPDATE: ${{steps.date.outputs.date}}
    - name: Azure Static Website Deploy
      uses: feeloor/azure-static-website-deploy@v0.1.1
      env:
        # The name of the directory you want to upload
        SOURCE_DIR: "./src"
        # Your Azure Client ID
        AZURE_CLIENT_ID: "${{secrets.CLIENT_ID}}"
        # Your Azure TENANT ID
        AZURE_TENANT_ID: "72f988bf-86f1-41af-91ab-2d7cd011db47"
        # Your Azure Secret
        AZURE_SECRET: "${{secrets.SECRET_ID}}"
        # Your Azure Subscription ID
        AZURE_SUBSCRIPTION_ID: "${{secrets.SUBSCRIPTION_ID}}"
        # Your Azure Storage Account Name
        AZURE_STORAGE_ACCOUNT_NAME: "devsecopstable"
        # The index document that you specify when you enable static website hosting, appears when users open the site and dont specify a specific file.
        AZURE_INDEX_DOCUMENT_NAME:  "index.html"
    
